<h3>Tags</h3>
<ul class="row list-unstyled g-4 mt-3 align-items-center">
    <li class=" mt-0 col-4 col-md-12 col-lg-12">
        <a href="tags.html"
            class="text-dark-color mb-2 text-decoration-none d-flex justify-content-between align-items-center">Asian
            <span class="badge bg-dark-color">22</span></a>
    </li>
    <li class=" mt-0 col-4 col-md-12 col-lg-12">
        <a href="tags.html"
            class="text-dark-color mb-2 text-decoration-none d-flex justify-content-between align-items-center">Euro
            Med<span class="badge bg-dark-color">22</span></a>
    </li>
    <li class=" mt-0 col-4 col-md-12 col-lg-12">
        <a href="tags.html"
            class="text-dark-color mb-2 text-decoration-none d-flex justify-content-between align-items-center">American
            <span class="badge bg-dark-color">22</span></a>
    </li>
    <li class=" mt-0 col-4 col-md-12 col-lg-12">
        <a href="tags.html"
            class="text-dark-color mb-2 text-decoration-none d-flex justify-content-between align-items-center">Thai
            <span class="badge bg-dark-color">22</span></a>
    </li>
    <li class=" mt-0 col-4 col-md-12 col-lg-12">
        <a href="tags.html"
            class="text-dark-color mb-2 text-decoration-none d-flex justify-content-between align-items-center">Japanese
            <span class="badge bg-dark-color">22</span></a>
    </li>
</ul>