.card-image{
    height: 250px;
    background-position: center !important;
    background-size: cover !important;
}
.card-image-list{
    min-height: 200px;
    aspect-ratio: 16/9;
    background-position: center !important;
    background-size: cover !important;
}